<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySolutionModelContainer" connectionString="metadata=res://*/BusinessObjects.MySolutionModel.csdl|res://*/BusinessObjects.MySolutionModel.ssdl|res://*/BusinessObjects.MySolutionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=howtoEFXAF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>